<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.geip.mapper.CompetitionMapper">

    <select id="apiCompetitionList" resultType="hello.geip.bean.CompetitionVo">

        SELECT a.* FROM competition a inner join

        (SELECT  competition_name  FROM competition  WHERE lol_nick = #{nick}  GROUP BY competition_name)  b

        on a.competition_name =b.competition_name   WHERE team = #{team}

        ORDER BY id DESC

    </select>



    <update id="apiCompetitionUpdate">
        UPDATE competition

        SET  win_lose=#{status}

        WHERE groupId=#{groupId}
    </update>



    <select id="matchNameCheck" resultType="int">

        select count(id) from competition where competition_name =#{competitionName}
    </select>

</mapper>